body{
  margin:0;
  padding:0;
}
.cell{
  cursor: pointer;
  height:100px;
  width:100px;
  border:1px solid gray
}

.symbol{
  line-height: 100px;
  font-weight: bold;
  font-size: 24px;
}

.disabled{
  color:gray;
  cursor:not-allowed;
}
.disabled:hover{
  background: #ffffff;
}